body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
    background-color: black;
}

.container{
    display: flex;
    flex-direction: column;
}

.wrapper {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wrapper::before {
    content: '';
    background-image: url("images/bg.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(45%);
    z-index: -1;
}

.navbar {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.navbar a:hover{
    color: rgb(218, 218, 218);
}

.social-icons{
    float: right;
    margin-right: 3lvw;
}

.social-icons a {
    color: white;
    text-decoration: none;
    margin-left: 0.2lvw;
    font-size: 20px;
}

.t{
    color: rgb(211, 149, 73);
    font-size: 29px;
    font-weight: bold;
}

.text-image{
    margin-top: -20px;
    height: 50px;
    width: 200px;
}

.text hr{
    color: rgb(167, 167, 167);
}

.r{
    font-size: 13px;
    letter-spacing: 0.2em;
    color: white;
}

.book-button {
    background-color: white;
    color: black; 
    padding: 7px 12px;
    font-size: 15px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.book-button:hover {
    transform: scale(1.04); 
}


  #menu{
    display: flex;
    flex-direction: column;
  }

  #menu h2{
    color: white;
    text-align: center;
    letter-spacing: 0.25em;
    margin-top: 50px;
  }

  #menu h3{
    font-style: italic;
    color: rgb(238, 238, 238);
    letter-spacing: 0.2em;
    margin-bottom: 35px;
    margin-top: 50px;
    text-align: center;
  }

  .menu-one, .menu-two, .menu-three, .menu-four{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
  }

  .add, .update, .view, .del{
    display: flex;
  }

  .form-one{
    margin-left: 150px;
  }

  .form-two, .form-four{
    margin-left: 260px;
  }

  .form-three{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-left: 150px;
  }

  .form-four{
    margin-top: 100px;
  }

  .menu-img1, .menu-img2, .menu-img3, .menu-img4{
    height: 280px;
    width: 280px;
    margin-left: 200px;
  }

  .menu-one form label, .menu-two form label, .menu-three form label, .menu-four form label{
    color: rgb(226, 226, 226);
  }

  .menu-one table,tr,td, .menu-two table, tr, td{
    padding: 6px;
  }

  .menu-three td, .menu-four td{
    padding: 12px;
  }

  .menu-one input, .menu-two input, .menu-three input, .menu-four input{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.menu-one button, .menu-two button, .menu-three button, .menu-four button {
    background-color: transparent;
    border: 1px solid rgb(226, 226, 226);
    color: rgb(226, 226, 226);
    padding: 5px 10px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
}

.menu-one button:hover, .menu-two button:hover, .menu-three button:hover, .menu-four button:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.menu-three button{
    width: 100%;
}

.menu-three hr{
    color: rgb(190, 190, 190);
    border: 1px solid rgb(190, 190, 190);
}


#itemContainer {
    color: white;
    width: fit-content;
    padding: 10px;
    margin-top: 20px;
    background-color: transparent;
    border: none;
    margin-left: 40%;
}

#itemContainer ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 50px;
}

#itemContainer li {
    margin-bottom: 5px;
    font-size: 15px;
}



  